files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/web.stdout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/logs/web.stdout.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/web.stderr.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/logs/web.stderr.log

